<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="my-icons.html">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
<script src="https://ajax.goglyphiconogleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="my-global.js"></script>
<script src="my-map.js"></script>
<script src="my-bdpost.js"></script>

<!-- API de Google Map-->
<!--<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaIAlrhHg5njG18zbzifcRHf3NmI1OGik&callback=initMap">
-->
</script>
    <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaIAlrhHg5njG18zbzifcRHf3NmI1OGik">
</script>

<dom-module id="my-detalle">
  <template>
    <style>
      :host {
        display: block;
      }
      .navbar{margin-bottom:0;}
      .location {
          display: block;
          font-size:18px;
          margin-top: 1.33em;
          margin-bottom: 1.33em;
          margin-left: 0;
          margin-right: 0;
          color: black;
          }
      .texto {
        font-size:14  px;
      }
      #map {
        height: 50%;
        width: 50%;
      }
      .blog-location {

          background: #337ab7;
          top: 35px;
          right: 0px;
          color: #fff;
          border-radius: 0 0 25px 0;
          padding: 5px 15px;
          font-weight: 700;
      }
    </style>

    <!-- Barra navegación -->
    <nav class="navbar navbar-inverse  navbar-static-top">
     <div class="container">
       <div class="navbar-header">
         <a class="navbar-brand">De aquí para allá</a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
           <li><a href="home"> Home</a></li>
           <li><a href="newpost"> Nuevo Post</a></li>
           <li><a href="detalle"> Post recientes</a></li>
           <li><a href="public" onclick="salir()"><span class="glyphicon glyphicon-log-in"></span> Salir</a></li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>

  <!-- Detalle del post -->
  <!--<input type="submit" class="btn btn-primary" onclick="completarPagina()">-->
    <div class="container">
      <div class="well">
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button> -->

          <form action="/home">
            <button type="summit" class="close">&times;</button>
          </form>

          <div class="media">
            <div class="span12">
              <output class="blog-location blog-location-right" name="location"></output>
            </div>
          	<a class="pull-left">
              <img id="imagen" class="media-object" src="http://placekitten.com/150/150" width="200" height="200">
            </a>

      		  <div class="media-body">
        	     <h4 class="media-heading">
<!--                  <output class="location" name="location"></output> -->
               </h4>
               <p></p>
               <p></p>
                  <b><output class="texto" name="titulo"></output></b>
               <p></p>
                  <output class="texto" name="post"></output>
                <p></p>

            <ul class="list-inline list-unstyled">
               <li><span><i class="glyphicon glyphicon-calendar"></i></span></li>
  <!--             <li type="text" name ="date" id="date" value = this.posts[0].date></li> -->
               <li><output class="texto" name="date"></output></li>
               <li>|</li>
               <li class="text-right">By </li>
               <li><output class="texto" name="usuario"></output></li>

           </ul>

          </div>
          <hr>

          <div class="span4">
            <span class="blog-location">Datos de interes </span>
          </div>
        <!-- Geolocalización-->

        <div class="pull-right" >
            <a class="texto"><b>Situar en el mapa</b></a>
            <div id="map" name="map" style="width:400px;height:200px;"></div>
        </div>

       </div>
        </div>
      </div>

  </template>

<script>
    Polymer({
      is: 'my-detalle',
      properties: {
        posts: Array

      },

      listeners: {
        },

      ready: function() {

        alert("entro a completar pagina");

        var respuesta = obtenerPost();

        var location = respuesta[0].location.city + ' (' + respuesta[0].location.country + ')';
        document.getElementsByName("location")[0].value = location;

        document.getElementsByName("titulo")[0].value = respuesta[0].titulo;
        document.getElementsByName("post")[0].value = respuesta[0].post;
        document.getElementsByName("date")[0].value = respuesta[0].date;
        document.getElementsByName("usuario")[0].value = respuesta[0].user;

        alert(respuesta[0].imagen);
        //this.$.imagen.src = respuesta[0].imagen;
        this.$.imagen.src = "/images/fotodetalle.jpg";
        
        initMap();
      }

    })
  //  window.onload = completarPagina();
  </script>
</dom-module>
