<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="my-icons.html">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="my-publicmodal.js"></script>

<dom-module id="my-publicmodal">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      .navbar{margin-bottom:0;}
      section{width:100%; float:left;}
      .banner-section{background-image:url("https://cdn.pixabay.com/photo/2017/08/26/16/11/nature-2683474__340.jpg"); background-size:cover; height: 380px; left: 0; position: absolute; top: 0; background-position:0;}

    </style>

    <nav class="navbar navbar-inverse  navbar-static-top">
     <div class="container">
       <div class="navbar-header">
         <a class="navbar-brand">De aquí para allá</a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
           <li><a href="registro"><span class="glyphicon glyphicon-user"> Sign up</a></li>
      <!--     <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->

           <!--comienzo -->
           <!-- Trigger the modal with a button -->
<!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->
<li><span class="glyphicon glyphicon-log-in" data-toggle="modal" data-target="#myModal"></span> Login</li>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</div>
           <!-- fin -->

         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>
   <section class="banner-section"></section>

  </template>

<script>
    Polymer({
      is: 'my-publicmodal',
      properties: {
      },

        listeners: {
                }

        })
  </script>
</dom-module>
